<div class="jumbotron text-center img-fluid" style="">
    <div style="background-color: rgba(0,0,0, 0.5); height: 100%;">
        <h3 class="text-uppercase mb-4">
            <span class="span-title">M</span>ongo <span class="span-title">S</span>craper
        </h3>
        <p class="text-uppercase p-word">
            <span class="span-word">N</span>ew <span class="span-word">Y</span>ork <span class="span-word">T</span>imes
            <span class="span-word">E</span>dition
        </p>
    </div>
</div>

<div class="container-fluid article-section">
    {{!-- Added scraped articles here --}}
    {{#each articles}}
    {{#unless saved}}
    <div class="card mb-4" id='article{{_id}}'>
        <div class="card-header bg-primary">
            <a class="text-light" href={{url}} target='_blank' style="font-size: 18pt;">{{headline}}</a>
            <a href="/" class="btn btn-success float-right text-uppercase btn-save-article" data-id={{_id}}>Save
                Article</a>
        </div>
        <div class="card-body">
            <p class="card-text">{{summary}}</p>
        </div>
    </div>
    {{/unless}}
    {{else}}
    <div class="card mb-4" id="no-articles">
        <div class="card-header text-light text-center" style="background-color: darkorange; font-size:14pt; padding: 10px;">
            Uh Oh. Looks like we don't have any new articles.
        </div>
    </div>
</div>
{{/each}}

</div>